html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden; /* Hide scrollbars */
}

.page-wrapper{
    height: 100%;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    padding: 60px;
}

ul{
    width: 40%;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #756f7b;
}

li:first-child{
    border: 1px solid #756f7b;
    padding: 0 30px;
    border-radius: 20px;
}

.text-section{
    color: #3d7ffa;
}

h1{
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0;
}

h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid #3d7ffa;
    width: 20%;
}

p{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 30%;
    color: #3a80f9;
    font-size: 15px;
}

.button{
    color:white;
    background-image: linear-gradient(to right, #52d2ff 50%, #4db5fe 100%);
    border-radius: 10px;
    width: 170px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
